@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .black-gradient {
    background: linear-gradient(90deg, #0a0a0b 0%, #1a1a1c 100%);
  }
}

.gradient_color {
  background: #d6d6d6;
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #d6d6d6 23%,
    #000000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_header {
  @apply text-sm font-semibold text-center;
}

.body_header {
  @apply text-3xl capitalize text-center font-extrabold md:text-5xl;
}

.hero_header {
  @apply text-3xl md:text-5xl text-center font-extrabold;
}

.flex-center {
  @apply flex justify-center items-center;
}

.card_para {
  @apply text-sm capitalize;
}
